{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks join futurium.
 *
 * Available variables:
 *   - none
 *
 * @see template_preprocess_corporate_blocks_join_futurium()
 *
 * @ingroup themeable
 */
 #}

{% set _url = url('<front>')|render ~ corporate_welcome.join.target %}

<div class="cnect-join-futurium-widget">
    <h2>{{ corporate_welcome.join.title |trans }}</h2>
    <div class="cnect-join-futurium-widget__body">
      <p class="ecl-paragraph ecl-paragraph--m ecl-u-color-grey-100">
        {{ corporate_welcome.join.body }}
      </p>
      <div class="input-group">
        <a href="{{ _url  }}"
           class="ecl-button ecl-button--primary">{{ corporate_welcome.join.call | trans }}</a>
      </div>
    </div>
</div>
