{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks select languages.
 *
 * Available variables:
 *   - languages
 *
 * @see template_preprocess_corporate_blocks_select_languages()
 *
 * @ingroup themeable
 */
 #}

<div class="cnect-register-widget">
    {{ kint(languages) }}
    <pre>TODO: Override and implement cnect-corporate-blocks-select-languages.html.twig.</pre>
</div>