{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks join futurium.
 *
 * Available variables:
 *   - none
 *
 * @see template_preprocess_corporate_blocks_join_futurium()
 *
 * @ingroup themeable
 */
 #}

<div class="cnect-join-futurium-widget">
    <h2>{{ 'Join Futurium'|trans }}</h2>
    <div class="cnect-join-futurium-widget__body">
      <p class="ecl-paragraph ecl-paragraph--m ecl-u-color-grey-100">
        Pellentesque iaculis fringilla auctor. Pellentesque commodo dolor
        ex, in consequat turpis pharetra a. Curabitur in tristique odio. Ut vitae consectetur neque, eu faucibus massa.
        In et varius mi. Donec varius mattis fermentum.
      </p>
      <div class="input-group">
        <a href="#" class="ecl-button ecl-button--primary">{{ 'Sign up with EU Login'|trans }}</a>
      </div>
    </div>
  </div>
</div>
