{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks welcome.
 *
 * Available variables:
 *   - none
 *
 * @see template_preprocess_corporate_blocks_welcome()
 *
 * @ingroup themeable
 */
 #}
<div class="cnect-welcome-widget">

    <h1>Welcome on Futurium</h1>

    <div class="cnect-date-widget__body">
        <p class="ecl-paragraph ecl-paragraph--l ecl-u-color-grey-100">
            Nunc semper nibh augue, sed bibendum dolor maximus ut. Nullam in mi augue. Proin metus sem, convallis eu
            blandit sit amet, aliquet consequat mauris. Suspendisse tellus arcu, mattis eu vestibulum sit amet,
            pellentesque vitae purus. Morbi euismod libero sed mattis tristique. Phasellus sapien velit, porttitor ac
            eleifend nec, feugiat ut dolor. Quisque magna est, pretium ultricies malesuada ac.
        </p>

        <div class="input-group">
            <a class="ecl-button ecl-button--call ecl-button--caret-right">{{ 'Learn more about Futurium'|trans }}</a>
        </div>
    </div>

</div>